:root {    
    --pcolorMain: #F4F3EE;
    --pcolorSec: #463F3A;
    --pcolor1: #8A817C;
    --pcolor2: #BCB8B1;
    --pcolor3: #E0AFA0;
    --pad1: 1.5rem;
    --pad2: 1rem;
}

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    padding-left: 5rem;
    padding-right: 5rem;
}
body {
    background-color: var(--pcolorMain);
}

header {
    background-color: var(--pcolorSec);
}

#logo {
    font-size: 1.4rem;
    text-align: center;
    padding: var(--pad2);
    font-weight: bold;
    font-style: italic;

}

nav {
    padding: var(--pad1);
    display: flex;
    background-color: var(--pcolor2);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}
section {
    background-color: var(--pcolor1);
    padding: var(--pad1);
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}